
{{#if loggedIn}}
<form id="searchUserForm-{{this.userName}}" action="/searchUsers" method="post">
    <div class="centerLogin" style="margin-top:10px">
        <input type="text" id="searchInput-{{id}}" name="username" placeholder="Enter username">
        <button class="homeButton" type="submit" style="margin-top:10px">Search</button>
    </div>
</form>

{{#if requestSent}}
    <p class="friend-request-sent">Friend request sent</p>
{{/if}}

<div id="searchResults" class="centerLogin">
    {{#if users.length}}
        <h2>Search Results:</h2>
        {{#each users}}
            <div>
                <p class="centerLogin">User found: {{this.userName}}</p>
                <form id="sendFriendRequestForm-{{this.userName}}" action="/addFriend" method="post">
                    <div class="centerLogin">
                        <input type="hidden" id="receiverUsername-{{this.userName}}" name="username" value="{{this.userName}}">
                        <button class="homeButton" type="submit" id="addFriendButton-{{this.userName}}">Add as Friend</button>
                    </div>
                   
                </form>
                 <div class="centerLogin">
                        <button class="homeButton" onclick="location.href='/viewSearchCollections/{{this.userName}}';" type="submit" id="viewSearchCollectionBtn-{{this.userName}}">View Collection</button>
                </div>
            </div>
        {{/each}}
    {{else}}
        {{#if noMatch}}
            <p>No match for that search term</p>
        {{/if}}
    {{/if}}
</div>
{{else}}
    <p>You must be logged in to search users</p>
    <button class="homeButton" onclick="location.href='/login';" type="submit">Login</button>
{{/if}}
<script src="/public/js/client_side_addUser.js"></script>